/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body settings */
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Flex wrapper */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header style */
header {
    padding: 350px;
    text-align: center;
    color: rgb(239, 245, 255);
    font-size: 35px;
}

/* Navigation links */
nav a {
    color: rgb(237, 245, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    flex: 1;
    width: 100%;        /* main takes 100% of the parent width */
    margin: 20px auto; /* centers main horizontally */
    background: white;
    /* padding: 20px; */
    min-height: 300px;
}

.main-left 
{
        width: 100%; 
 text-align: left;
 background: rgb(235, 244, 255);
 font-size: 25px;
 min-height: 350px;
 margin-bottom:30px;
}

.main-right 
{
        width: 100%; 
    text-align: right;
    background: rgb(235, 244, 255);
    font-size: 25px;
    min-height: 450px;
    margin-bottom:30px;
}

/* Footer style */
footer {
    background: #8286a0;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ccc;
}




/* Responsive: stack links vertically on small screens */
@media (max-width: 600px) {
    nav a {
        display: block;       /* each link on its own line */
        margin: 10px 0;       /* space between links */
    }
}